.card {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
}


img {
  width: 300px;
  height: 200px;
  transition: .5s ease;
  overflow: hidden;
}

img:hover {
  transform: scale(1.2);
}